{% extends "common/base.html" %}
{% block title %}JsApps{% endblock %}

{% block content %}
    <div class="container">
        {% block header %}
            {% include "twitter/twitterHeader.html" %}
        {% endblock %}
        {% block Links %}
            {% include "twitter/twitterLinks.html" %}
        {% endblock %}
        {% block appDetails %}
            <div class="row">
                <div class="span9" id="content">
                    {% block appFinishedContent %}
                        {% include "twitter/twitterAppFinishedContent.html" %}
                    {% endblock %}
                    {% block twitterShare %}
                        {% include "twitter/twitterShare.html" %}
                    {% endblock %}
                    {% block comment %}
                        {% include "twitter/twitterComment.html" %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block footer %}
            {% include 'common/footer.html' %}
        {% endblock %}
    </div>
{% endblock %}
