{% block facebookShare %}
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1000944106647575', status: true, cookie: true,
                xfbml: true
            });
        };
        (function () {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol +
                    '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#share_button').click(function (e) {
                e.preventDefault();
                FB.ui(
                        {
                            method: 'feed',
                            name: '{{ name }}',
                            link: 'http://jsapps.co/facebook/appDetails/adminApp/{{ appDetails.AppID }}',
                            picture: '{{ imageUrl }}',
                            caption: 'Top 3 reasons why you should care about your finance',
                            description: "What happens when you don't take care of your finances? Just look at our country -- you spend irresponsibly, get in debt up to your eyeballs, and stress about how you're going to make ends meet. The difference is that you don't have a glut of taxpayers…",
                            message: ""
                        });
            });
        });
    </script>
    <img class="img-responsive" id="share_button" src="{{ url_for('static', filename='images/common/share-facebook.png') }}"></a>


{% endblock %}