{% block facebookShare %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#share_button').click(function (e) {
                e.preventDefault();
                var type = '{{ appDetails.AppType }}';
                if (type == 'user') {
                    FB.ui(
                            {
                                method: 'feed',
                                name: '{{ appDetails.AppName }}',
                                {#                                link: 'http://jsapps.co/facebook/appDetails/adminApp/{{ appDetails.AppID }}',#}
                                picture: '{{ imageUrl }}',
                                {#                            caption: 'JSApps.co',#}
                                {#                            description: "{{ appDetails.AppDescription }}",#}
                                message: ""
                            }
                            , function (response) {
                                console.log(response["post_id"]);
                                var postId = response["post_id"];
                                var msg = 'App Link can be found on below \n' + 'http://jsapps.co/facebook/appDetails/adminApp/{{ appDetails.AppID }}';
                                FB.api('/' + postId + '/comments', 'post', {message: msg}, function (response) {
                                    if (!response || response.error) {
                                        console.log(response);
                                    } else {
                                        console.log('Post ID: ' + response.id);
                                    }
                                });
                            });
                } else {
                    FB.ui(
                            {
                                method: 'feed',
                                name: '{{ appDetails.AppName }}',
                                link: 'http://jsapps.co/facebook/appDetails/adminApp/{{ appDetails.AppID }}',
                                picture: '{{ imageUrl }}',
                                caption: 'JSApps.co',
                                description: "{{ appDetails.AppDescription }}",
                                message: ""
                            }
                    );
                }

            });
        });
    </script>
    <div class="row">
        <div class="col-sm-6">
            {#            <a id="facebook-share-url" target="_blank" href="https://www.facebook.com/dialog/share?#}
            {#                                app_id=1686276391610614&#}
            {#                                link=http://jsapps.co/facebook/appDetails/adminApp/{{ appDetails.AppID }}&#}
            {#                                picture={{ imageUrl }}&#}
            {#                                name={{ appDetails.AppName }}&#}
            {#                                caption=JSApps.co&#}
            {#                                description={{ appDetails.AppDescription }}">#}
            {##}
            {#                <img style="" class="img-responsive"#}
            {#                     src="{{ url_for('static', filename='images/common/share-on-facebook.gif') }}"></a>#}
            <a><img src="{{ url_for('static', filename='images/common/share-on-facebook.gif') }}" id="share_button"></a>
        </div>
        <div class="col-sm-12">
            <a download="profile_created_jsapps_co.jpg" href="{{ imageUrl }}" title="profile_created_jsapps_co">
                <img style="" class="img-responsive"
                     src="{{ url_for('static', filename='images/common/downbtn.png') }}">
            </a>
        </div>
    </div>




{% endblock %}