{% extends "common/header.html" %}
{% block login %}
{#    {% if not authorized %}#}
{#        <div class="span9">#}
{#        <div class="pull-right">#}
{#                <a href="{{ url_for('/authorize/facebook', redirect=request.url) }}"><img#}
{#                        src="{{ url_for('static', filename = 'images/common/facebook-login-button.png') }}"></a>#}
{#        </div>#}
{#    {% endif %}#}
    {% if authorized %}
        <div class="clo-md-9 pull-right" style="margin-right: 10px; margin-top: 10px">
            <span style="font-size: 1.2em;margin-right: 20px">Hi , {% print(name) %}</span> <img style="border-radius: 6px" src="https://graph.facebook.com/{% print(id) %}/picture"></a>
        </div>
    {% endif %}
{% endblock %}