{% block facebookShare %}
    <a id="facebook-share-url" target="_blank" href="https://www.facebook.com/dialog/feed?
                                app_id=1686276391610614&
                                link=http://jsapps.com/facebook/appDetails/adminApp/{{ appDetails.AppID }}&
                                picture={{ imageUrl }}&
                                name={{ appDetails.AppName }}&
                                caption=JSApps.co&
                                description={{ appDetails.AppDescription }}">

        <img style="" class="img-responsive"
             src="{{ url_for('static', filename='images/common/share-on-facebook.gif') }}"></a>

    <a download="profile_created_jsapps_co.jpg" href="{{ imageUrl }}" title="profile_created_jsapps_co">
    <img style="" class="img-responsive" src="{{ url_for('static', filename='images/common/Download-Button.png') }}">
</a>

{% endblock %}