{% block appDetailContent %}
        {% if authorized %}
            <a onclick="location.href='/facebook/runApplication/adminApp/{{ appDetails.AppID }}'">
                <img class="img-responsive" src="{{ url_for('static', filename='' + appDetails.AppSourceImage) }}"></a>

        {% else %}
            <div class="img-app">
                <img id="app-init-image" src="{{ url_for('static', filename='' + appDetails.AppResultImage) }}" class="img-responsive">
                <a id="fb-logging" href="{{ url_for('/authorize/facebook', redirect=request.url) }}">
                    <img class="img-login img-responsive" src="{{ url_for('static', filename='images/common/facebook-login-button.png') }}"></a>
            </div>
            <script src="{{ url_for('static', filename='javascripts/imgLoad.js') }}"></script>
        {% endif %}
{% endblock %}