{% block app %}
    {% for app in pageAppList %}
        <div class="col-md-3">
            <div class="thumbnail">
                {% if app.AppType == "userCreatable" %}
                    <a onclick="location.href= '/facebook/UserCreatableAppsDetails/{{ app.AppID }}/1'"><img
                            src="{{ url_for('static', filename='' + app.AppImage) }}"
                            alt="thumbnail">
                    </a>
                    <div class="caption">
                        <h4>{{ app.AppName }}</h4>
                        <p>{{ app.AppDescription }}</p>

                        <hr>
                        <p><a onclick="location.href= '/facebook/UserCreatableAppsDetails/{{ app.AppID }}/1'" class="btn">Next→</a></p>
                    </div>
                {% else %}
                    <a onclick="location.href= '/facebook/appDetails/{{ app.AppID }}'">
                        <img src="{{ url_for('static', filename='' + app.AppImage) }}" alt="thumbnail">
                    </a>
                    <div class="caption">
                        <h4>{{ app.AppName }}</h4>
                        <p>{{ app.AppDescription }}</p>

                        <hr>
                        <p><a onclick="location.href='/facebook/appDetails/adminApp/{{ app.AppID }}'" class="btn">Next→</a></p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}