{% extends "common/base.html" %}
{% block title %}JsApps{% endblock %}
{% block header %}
    {% include "common/header.html" %}
{% endblock %}
{% block Links %}
    {% include "privacy/links.html" %}
{% endblock %}
{% block pageContent %}
    <h1>General</h1>
    This website is created for give user specific predictions by using their social media data. We are only accessing
    social APIs according to their permissions. We committed to protect your privacy.<br>
    This Privacy Policy explains our information-gathering and dissemination practices for our service. By using our
    services, you acknowledge that you have reviewed this Privacy Policy and agree to be bound by their terms and
    conditions.
    <br><br>
    <h1>Personal Information</h1>
    Users who registered to JSApps(by logging in to their Facebook account), We collect personally-identifying
    information that is unique to such users (such as their name, profile picture, gender, photos and Facebook friend
    list. We stored your data very secure way. We use the information and data we collect in connection with operation,
    maintenance and enhancement of our services and features, and for other administrative purposes or internal
    operations, such as communicating with our users, data analysis, testing and research. We do not share your personal
    data with any other third parties.
    <br><br>
    <h1>Security</h1>
    All information described above may be stored on database servers. We will take commercially reasonable measures in
    providing secure transmission of your Personal Information before it is transferred across the internet from your
    system to our servers and in securing such Personal Information stored on our systems.


{% endblock %}
{% block footer %}
    {% include 'common/footer.html' %}
{% endblock %}